@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-pop: Poppins, sans-serif;
  --font-inter: Inter, sans-serif;
  --font-roboto: Roboto, sans-serif;

  --screen-xss: 220px;
  --screen-xs: 480px;
  --screen-3xl: 1920px;
}

@layer tailwind-utilities {
  .font-pop {
    font-family: var(--font-pop);
  }
  .font-inter {
    font-family: var(--font-inter);
  }
}

body{
  background-color: #080808;
}