@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-pop: Poppins, sans-serif;
  --font-inter: Inter, sans-serif;
  --font-roboto: Roboto, sans-serif;

  --breakpoint-xss: 220px;
  --breakpoint-xs: 480px;
  --breakpoint-3xl: 1920px;
}

@layer tailwind-utilities {
  .font-pop {
    font-family: var(--font-pop);
  }
  .font-inter {
    font-family: var(--font-inter);
  }
}

body{
  background-color: #080808;
}

/* Add these animation classes */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  0% { transform: scale(0); }
  70% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.animate-scaleIn {
  animation: scaleIn 0.5s ease-in-out;
}